.main-container {
    width: 500px;
}

.todo-element {
    display: flex;
    /* justify-content:center; */
    align-items: center;
    padding: 16px 0px;
}

.whole-todo-element:hover:hover {
    background-color: aquamarine;
    /* padding: 16px 0px; */
}

.checkbox-btn {
    margin-right: 20px;
}

.todo {
    margin: 0px;
}

.edit-btn {
    margin-left: 20px;
    color: white;
    background-color: green;
}

.delete-btn {
    color: white;
    margin-left: 5px;
    background-color: red;
}

.edit-btn, .delete-btn {
    border-radius: 5px;
    padding: 10px;
    width: 80px;
    border: none;
    
}

.save-edit-btn {
    border-radius: 5px;
    padding: 10px;
    width:80px;
    border: none;
    margin-left: 20px;
    color: white;
    background-color: green;
}

.divider {
    margin: 0;
}